a {
  color: blue;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica';
  padding: 1em;
  margin: 1em;
}

ul{
 list-style-type: none;
}

code,
pre,
blockquote {
  padding: .2em;
}

code,
pre {
  font-family: 'Consolas', 'monospace';
}

.logo {
  background-color: black;
  color: white;
  display:inline;
  white-space:pre-wrap;
  padding: 8px 8px 2px 0;
  box-shadow: -8px 0 0 black;
  font-family: 'Consolas', 'monospace';
  font-weight: bold;
}

.inline {
  display:flex;
  padding: 0;
}

.icon {
  width: 35px;
  margin-right: 10px;
}
